name = "notes"
main = "./src/index.ts"

compatibility_date = "2023-07-26"

account_id = "..."
route = "..."
workers_dev = false

node_compat = true

kv_namespaces = [
]

[vars]
# The necessary secrets are:
# - REALM_APPTOKEN = "..."
# Run `echo <VALUE> | wrangler secret put <NAME>` for each of these

[placement]
mode = "smart"